@font-face{
    font-family: Helvetica, sans-serif;
    src: url(font/HelveticaNeueLTCom-ThCn/HelveticaNeueLTCom-BlkExO.ttf);
}
:root{
    --main-font : Helvetica, sans-serif;
    --body-color : #E5E5E5;
    --primary-color :#7A45FA ;
    --secondary-color :#347EE3;
    --theard-color :#FF004E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
img{
    max-width: 100%;
}
body{
    background-color: #E5E5E5;
    font-family: var(--main-font);
    
}
.main-container{
    max-width: 460px;
    margin: 0 auto;
    height: auto;
    background-color: #f8f8f8;
}
.container{
    max-width: 402px;
    margin: 0 auto;
    height: auto;
    
}
h2{
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.42px;
   
}
h3{
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.42px;
    color: #000000;
   
}
h4{
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 29.54px;
   
}
p{
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 19.09px;
}

/* logo section  */
.logo-secton {

    padding-top: 10px;
    
    text-align: center;
}
.logo-secton img{

    padding-bottom: 12px;
}
.logo-content{
    background-color: #fff;
    padding: 11px;
}
.logo-content h2{
    color: var(--primary-color);
}
.logo-content p{
    padding-top: 8px;
    color: var(--primary-color);
}

/* gift-detelse  */
.gift-detelse{
    padding: 20px 0;
}

.headding{
    
    
    background-color: var(--secondary-color);
    border-radius: 7px;
    overflow: hidden;
    
}
.headding-logos{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 14px;
    align-items: center;
}
.headding-logos img {
    padding-right: 13.55px;
}
.headding h2{
    
    color: #fff;
    

}
.gift-detelse-content{
    background-color: rgb(255, 255, 255);
    margin: 3px;
    padding: 17.17px 25.55px;
    overflow-y: hidden;
    border-radius: 7px;
}
.img-content{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.images-detelse h3{
    padding-bottom: 3px;
}
.images-detelse i{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    
}
.images-Gift-Dimensions h4{
    padding-top: 15px;
}
.Gift-Dimensions-items{
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    
}
.left-items {
    background-color: #EFEFEF;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    flex-basis: 145px;
    text-align: center;
}
.gift-bottom{
    padding-bottom: 0;
}

/* next-steps  */
.next-steps{
    padding-bottom: 15px;
}
.next-steps h4{
    padding-bottom: 12px;
}
.next-steps p{
    padding-bottom: 12px;
}
.next-steps-subhadding h4{
    padding-bottom: 0;
}
.next-steps-subhadding h5{
    font-size: 14px;
}
.next-steps-subhadding h5:nth-child(2){
   
    padding-bottom: 5px;
    
}
.next-steps-subhadding h5:nth-child(3){
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.next-steps{
    
}
.next-steps i{
    font-size: 13px;
    line-height: 13.18px;
    text-align: center;
    
    
}

/* Campaign Summary  */
.Campaign-Summary .headding{
    background-color: var(--primary-color);
}
.Campaign-Summary .img-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
}
.Campaign-Summary-btn{
    padding: 4px 15px;
    background-color: #EFEFEF;
    border-radius: 25px;
    
}
.Campaign-Summary-btn h4{
    font-size: 15px;
    font-weight: 700;
}

.Campaign-Summary .next-steps-subhadding{
    padding: 15px 0;
    border-bottom: 1px solid #EFEFEF;
}
.Campaign-Summary-items1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
}
.Campaign-Summary-items2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.Campaign-Summary-right-items{
   padding-right: 15px;
   color: #909090;
}
/* Target Demographic */
.Target-Demographic2{
    padding: 10px 0;
    border-bottom: 1px solid var(--body-color);
}
.Target-Demographic3{
    padding: 10px 0;
    border-bottom: 1px solid var(--body-color);
}
.Target-Demographic4{
    padding: 10px 0;
    border-bottom: 1px solid var(--body-color);
}
.Target-Demographic5{
    padding: 10px 0;
    
}

/* Payment Summary  */
.Payment-Summary-headding{
    background-color: var(--theard-color);
    overflow: hidden;
    border-radius: 7px;
}
.Payment-Summary-headding-logos{
    padding: 16px 14px;
}
.Payment-Summary-headding h2{
    color: #fff;
}
.Payment-Summary-items1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
    
}
.Payment-Summary-items2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
}
.Payment-Summary-items3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
}
.Payment-Summary-items4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
}
.Payment-Summary-items5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
}
.Payment-Summary-btn {
    padding: 5px 14px;
    background-color: #EFEFEF;
    border-radius: 25px;
}
.gift-detelse-content strong{
    font-size: 14px;
    margin-bottom: 6px;
    display: inline-block;
}
.gift-detelse-content i {
    font-size: 11px;
    display: block;
}
/* Questions */
.Questions{
    padding-bottom: 2.5rem;
}
.Questions-content{
    background-color: #fff;
    padding: 11px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.Questions-image-div{
    width: 40%;
    padding-left: 27px;
}
.Questions-content-div h2{
    font-size: 23px;
    color: var(--primary-color);
}
.Questions-content-div p{
    font-size: 15px;
    
    
}
.Questions-content-div a{
    color: var(--primary-color);
    
}
.bottom h3{
    padding-top: 60px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
}
.bottom h5{
    font-size: 14px;
    padding-top: 20px;
    padding: 14px 14px;
    text-align: center;
    color: var(--body-color);
}
.bottom p{
    font-size: 16px;
    padding-top: 20px;
    padding: 14px 14px;
    text-align: center;
    color: var(--body-color);
    font-weight: 600;
}